/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.element {
    width: 100%;
    height: 100%;
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    0% {
      background-color: skyblue;
    }
    100% {
      background-color: gray;
    }
  }
  
  html,
  body {
    height: 100%;
  }